@import '../../node_modules/bootstrap/dist/css/bootstrap.css';


* {
    font-family: 'Montserrat', sans-serif;

}

.App {

    /*background-color: bisque;*/
    margin:0;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    text-align: center;

}

.Menu {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Menu > a  {
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: black;
    justify-content: space-around;
}


.Menu > a.active {
    color:grey;
}

.main-part{
    min-height: 50%;
    overflow:auto;
}

