.detailDrinkPhoto{
    width:70%;
    height:70%;
    border:solid black;
    margin-bottom: 5%;
}

.detailPage{
    text-align: center;
}

.heading_details{
    font-size: larger;
    font-weight: bolder;
    margin-top: 10%;

}

.error{
    color: red;
}
.alertSpots{

    color: red;


}