.header{

    margin-bottom: 10%;
    margin-top:10%;
    position:sticky;



}

.header-text{
    text-align: center;
    font-size: 40px;
    padding-top: 20%;

}

.sub-title{
    text-align: center;
}